{% extends 'accueil/index.html.twig' %}

{% block title %}Abonnement | Home{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">General Form</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- right column -->
                        <div class="col-md-12">
                            <!-- general form elements disabled -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"> Formulaire d'abonnement</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form method="post" action="{{ path('app_abonnement_add') }}" class="form">
                                        <input type="hidden" name="token" value="{{ csrf_token('abonnement_token') }}">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- select -->
                                                <div class="form-group">
                                                    <label>Clients</label>
                                                    <select class="form-control" name="client">
                                                        <option value="0">---Liste clients---</option>
                                                        {% if listClients !=null %}
                                                            {% for client in listClients %}
                                                                <option value="{{ client.id }}">{{ client.nom }} {{ client.nom }}</option>
                                                            {% endfor %}
                                                        {% endif %}

                                                        <option value="-1">Ajouter un nouveau client...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- textarea -->
                                                <div class="form-group">
                                                    <label>Description de l'abonnement</label>
                                                    <textarea class="form-control" name="description" rows="5" placeholder="Description ..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="clientForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label>Prenom *</label>
                                                        <input type="text" class="form-control" name="prenom" placeholder="Prenom client..." required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Nom *</label>
                                                        <input type="text" name="nom" class="form-control" placeholder="Nom client..." required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label>Nci *</label>
                                                        <input type="text" name="nci" class="form-control" placeholder="Numero carte d'identite nationale..." required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Telephone *</label>
                                                        <input type="text" name="telephone" class="form-control" placeholder="Telephone..." required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-form-label" for="datenaiss">Date de naissance</label>
                                                        <input type="date" class="form-control" id="datenaiss" name="datenaiss">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- select -->
                                                    <div class="form-group">
                                                        <label>Village *</label>
                                                        <select class="form-control" name="village" required>
                                                            <option value="0">---Liste villages---</option>
                                                            {% if listVillages != null %}
                                                                {% for village in listVillages %}
                                                                    <option value="{{ village.id }}"> {{ village.nom }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                            <option value="-1">Ajouter son village...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="reset" class="btn btn-default">Annuler</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (right) -->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Liste Abonnements</h3>
                                            <div class="card-tools">
                                                <div class="input-group input-group-sm" style="width: 150px;">
                                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-default">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- /.row -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 300px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Numero</th>
                                        <th>Date</th>
                                        <th>Client</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if listAbonnements != null %}
                                    {% for abonnement in listAbonnements %}
                                        <tr>
                                            <td>{{ abonnement.numero }}</td>
                                            <td>{{ abonnement.date }}</td>
                                            <td>{{ abonnement.client.prenom }} {{ abonnement.client.nom }}</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-info btn-sm">
                                                        <font style="horiz-align: right;">
                                                            Details
                                                        </font>
                                                </button>
                                                <button type="button" class="btn btn-outline-warning btn-sm">
                                                        <font style="horiz-align: right;">
                                                            Edit
                                                        </font>
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary btn-sm">
                                                        <font style="horiz-align: right;">
                                                            Archive
                                                        </font>
                                                </button>
                                                {% if abonnement.compteur==null %}
                                                    <button type="button" class="btn btn-outline-primary btn-sm">
                                                            <font style="horiz-align: right;">
                                                                <a href="{{ path('app_abonnement_attrib', {'id':abonnement.id }) }}">
                                                                    Attribuer Compteur
                                                                </a>
                                                            </font>
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>          <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
{% endblock %}
