{% extends 'accueil/index.html.twig' %}

{% block title %}Admin | Home{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a>/Admin</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- right column -->
                        <div class="col-md-12">
                            <!-- general form elements disabled -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title"> Formulaire d'ajout User</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form method="post" action="{{ path('app_administration_add') }}" class="form">
                                        <input type="hidden" name="token" value="{{ csrf_token('user_token') }}">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="prenom_nom">Prenom & Nom *</label>
                                                    <input type="text" class="form-control" id="prenom_nom" name="prenom_nom" placeholder="Saisissez le prenom et le nom de user..." required>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="clientForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label for="email">Email *</label>
                                                        <input type="email" name="email" id="email" class="form-control" placeholder="Email..." required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="password">Password *</label>
                                                        <input type="password" name="password" id="password" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Roles *</label>
                                                    {% if roles != null %}
                                                        {% for role in roles %}
                                                            <div class="icheck-primary d-inline">
                                                                <input type="checkbox" name="role[]" id="checkboxPrimary3" value="{{ role.id }}">
                                                                <label for="checkboxPrimary3">
                                                                    {{ role.libelle }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="reset" class="btn btn-default">Annuler</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (right) -->
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Liste Users</h3>
                                            <div class="card-tools">
                                                <div class="input-group input-group-sm" style="width: 150px;">
                                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-default">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 300px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                <tr>
                                    <th>Prenom & Nom</th>
                                    <th>Email</th>
                                    <th>Liste Profils</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if users != null %}
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.prenomnom }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                {% for role in user.roles %}
                                                    {{ role }}<br/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-warning btn-sm">
                                                    <font style="horiz-align: right;">
                                                        Edit
                                                    </font>
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary btn-sm">
                                                    <font style="horiz-align: right;">
                                                        Supprimer
                                                    </font>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>          <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
{% endblock %}
